<!DOCTYPE html>
<html lang="es">
    <head> 
        <title>WebRTC Text Demo</title> 
        <meta charset="UTF-8">
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/lb-services.js"></script>        
        <link src="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="lib/angular-cookies/angular-cookies.js"></script>        
        <script src="lib/angular-route/angular-route.js"></script>        
        <link src="css/styles.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/chatStyle.css"/>
        
       	<script src="js/recorderjs/recorder.js"></script>
        <script src="js/main.js"></script>
        <script src="js/maps/maps.js"></script>

    </head>
    <body ng-app="myItems"> 
        
        <div id = "loginPage" class = "container text-center"  ng-controller="myItemsController"> 
            <div class = "row content"> 
                <div class = "col-md-4 col-md-offset-4"> 
                    <h2>Login</h2> 
                    <label class = "sr-only">Login</label>
                    <input id = "usernameInput" class = "form-control formgroup" ng-model="userName" type="text" class="" aria-describedby="" aria-label="Name" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="Name" value="" required autofocus>                    
                    <input id = "userpasswordInput" class = "form-control formgroup" ng-model="userPassword" type="password" show-password="showPassword" ng-model="thePassword" aria-describedby="" aria-label="Password" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Password" value="" required>                   
                    <button id="loginBtn"  class = "btn btn-lg btn-primary btn-block" ng-click="login()">
                        Sign in
                    </button> 
                    <p id="loginErrorAlert" style='display:none;' aria-atomic="true" role="alert"> El usuario o la contraseña son incorrectos.</p>                    
                    
                </div> 
            </div> 
        </div>

        <div id = "mainPage" class = "call-page container" style="display:none" >

            <div class="row">

                    <div class="col-md-4 ">
                            <div id="map"></div>                        
                    </div>
                <div class = "col-md-4"> 
                    <div class = "panel panel-primary"> 
                        <div  id="grupoBotonesChat" class="btn-group btn-group-justified">
            <!--
                            <div id="btn-groupgrupo" class="btn-group">
                                <button id="botonGrupo" type="button" class="btn btn-primary"> Chat Grupo </button>
                            </div>    
                        -->
                            <div id="btn-groupadmin" class="btn-group">
                                <button id="botonAdmin" type="button" class="btn btn-primary"> Chat Admin </button>
                            </div>

                        </div>
                        <div class="chatbox">                          
                            <div id="chatsPanel" class="chatlogs">  
                                <div id="chatadminPanel" class="panel-body">
                                    <div id="chatadmin" class="chat"> </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="Mensaje" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button  id="botonEnviar" class="btn-success btn" >
                                        Send
                                    </button>
                                </span>
                                <span id="record2"   onmousedown="toggleRecording(this);" onmouseup="toggleRecording(this);" >
                                        <span data-icon="ptt" class="">
                                             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                                 <path id="pathMicrofono" style="fill:#263238" fill-opacity=".45" d="M11.999 14.942c2.001 0 3.531-1.53 3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531S8.469 2.35 8.469 4.35v7.061c0 2.001 1.53 3.531 3.53 3.531zm6.238-3.53c0 3.531-2.942 6.002-6.237 6.002s-6.237-2.471-6.237-6.002H3.761c0 4.001 3.178 7.297 7.061 7.885v3.884h2.354v-3.884c3.884-.588 7.061-3.884 7.061-7.885h-2z">
                                                 </path>
                                            </svg>
                                         </span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>



            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJk-JfSGRdKs9M0tYhNbEta8nHEneYXbo&callback=initMap">
            </script>
        </div> 


        <script src = "js/cliente/cliente.js"></script> 
        <script src = "js/appEquipo.js"></script> 
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <div style="display:none" id="plantilla" >
        <div >
            <div class="container-chat">
                <div class="w3-cell-row">
                    <span class="nombre-persona-chat Nombre">
                            Jack Sparrow
                    </span>
                    <div class="hora-chat">
                            <span class="text-muted Tiempo">
                                    12/02/2015
                            </span>
                    </div> 
                </div>
                <div class="texto-chat">
                    <span class="Mensaje">
                        Mensaje
                    </span>
                </div>

            </div>               
        </div>
    </div>

    <div style="display:none" id="plantilla2" class="left clearfix">
        <div id="mensajeAudio">
            <div class="container-chat">
                <div class="w3-cell-row">
                    <span class="nombre-persona-chat Nombre">
                        Jack Sparrow
                    </span>
                    <div class="hora-chat">
                        <span class="text-muted Tiempo">
                            12/02/2015
                        </span>
                    </div> 
                </div>
                <div class="texto-chat">
                    <audio id="audio" class="Audio" src="#"></audio>
                    <button id="botonAudio" class="boton-audio"> ► </button>
                </div>
            </div>               
        </div>
    </div>

</body>
</html>
